@model IEnumerable<ElectronicShop.Storage.Entity.Feature>;
@{
    ViewData["Title"] = "Output";
}

<h1>Список Характеристик</h1>
<br />
<br />
<br />



<body>
    @foreach (var tmp in Model)
    {
        <label>Id</label><br />@tmp.id<br />
        <label>Длительность гарантии</label><br />@tmp.warrantyduration<br />
        <label>Вес</label><br />@tmp.weight<br />
        <label>Мощность</label><br/>@tmp.power<br />
        <label>DeviceId</label><br />@tmp.DeviceId<br />

        @using (Html.BeginForm("Redact", "Feature", FormMethod.Get))
        {
            <a href="/Feature/RedactFeature/@tmp.id">Редактировать Характеристики</a>
        }
        @using (Html.BeginForm("DeleteFeature", "Feature", FormMethod.Get))
        {
            <a href="/Feature/DeleteFeature/@tmp.id">Удалить</a>
        }
        @using (Html.BeginForm("AddNewBattery", "BattaryFeature", FormMethod.Get))
        {
            <input type="hidden" value="@tmp.id" name="ForeignKey" />
            <input type="submit" value="Добавить аккумуляторы" />
        }
        @using (Html.BeginForm("Output0", "BattaryFeature", FormMethod.Get))
        {
            <input type="hidden" value="@tmp.id" name="ForeignKey" />
            <input type="submit" value="Посмотерть аккумуляторы" />
        }
        <br />
        <br />
    }


    <a href="/Device/Output/">Вернуть к устройствам</a>
    <br />
    <br />
    <br />

</body>

